.dish-history-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.jsoneditor-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

div {
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

strong {
  cursor: pointer;
  color: tomato;
  text-decoration: underline;
}

strong:hover {
  color: tomato;
}

h3 {
  margin-bottom: 20px;
}

.dish-info {
  margin-bottom: 20px;
}
