.blockchain-container {
  margin-top: 100px;
  padding: 20px;
}

.transaction-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: gray;
  font-size: max(1vw, 12px);
}

.transaction-item {
  margin: 10px 0px;
  color: black;
}

.transaction-item img {
  width: 50px;
}

.blockchain-container hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.transaction-item .cross {
  cursor: pointer;
}

.blockchain-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}

.transaction-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.transaction-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}

.transaction-total hr {
  margin: 10px 0px;
}

.transaction-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.transaction-promocode {
  flex: 1;
}

.transaction-promocode p {
  color: #555;
}

.transaction-promocode-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}

.transaction-promocode-input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.transaction-promocode-input button {
  width: max(10vw, 150px);
  padding: 12px 5px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 4px;
}

.transaction-table th,
.transaction-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.transaction-table th {
  background-color: #f4f4f4;
}

button {
  padding: 5px 10px;
  background-color: tomato;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.modal-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content div {
  margin-bottom: 10px;
}

@media (max-width: 750px) {
  .blockchain-bottom {
    flex-direction: column-reverse;
  }
  .transaction-promocode {
    justify-content: start;
  }
  .transaction-item p {
    padding-left: 10px;
  }
}

.loading-message {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin: 20px 0;
  position: relative;
  animation: popIn 1s ease-out;
}

.loading-message p {
  display: inline-block;
  position: relative;
  animation: textMove 5s linear infinite;
  white-space: nowrap;
  font-weight: bold;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes textMove {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.bike-animation {
  position: absolute;
  bottom: 30px;
  right: 10%;
  animation: bikeMove 5s linear infinite;
}

.bike-animation img {
  width: 80px;
  height: auto;
}

@keyframes bikeMove {
  0% {
    right: -100px;
  }
  100% {
    right: 100%;
  }
}
