.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
  position: relative;
}

.food-item-image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.food-item-info {
  padding: 20px;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.food-item-name-rating p {
  font-size: 20px;
  font-weight: 500;
}

.food-item-name-rating img {
  width: 70px;
}

.food-item-desc {
  color: #676767;
  font-size: 12px;
}

.food-item-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}

.food-item-img-container {
  position: relative;
}

.food-item-img-container .add {
  position: absolute;
  width: 35px;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}

.food-item-counter img {
  width: 30px;
}

.food-item-scores {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.unlock-info {
  font-size: 14px;
  font-weight: 500;
  color: #007bff;
  cursor: pointer;
  position: relative;
}

.unlock-info .unlock-text {
  font-style: italic;
  font-size: 12px;
}

.unlock-info::after {
  content: "🔓";
  font-size: 18px;
  position: absolute;
  left: 100%;
  margin-left: 5px;
  top: 0;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.rating-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.rating-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close-popup:hover {
  color: #f44336;
}

.rating-popup-content::-webkit-scrollbar {
  width: 8px;
}

.rating-popup-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.rating-popup-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
