.admin-dashboard {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

header {
  background-color: tomato;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  flex-wrap: wrap;
}

.sidebar {
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  padding: 1rem;
  width: 200px;
}

.sidebar button {
  background-color: tomato;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.sidebar button:hover {
  background-color: tomato;
}

.summary-widgets {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-grow: 1;
  padding: 1rem;
}

.widget {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: calc(33.333% - 1rem);
}

.widget h3 {
  margin-top: 0;
}

.widget ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: left;
  table-layout: fixed;
}

th, td {
  padding: 0.75rem;
  border: 1px solid #ddd;
  word-wrap: break-word;
}

thead th {
  background-color: rgb(255, 99, 71);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.table-wrapper {
  overflow-x: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 50%;
  max-width: 800px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
}

.close:hover {
  color: darkred;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
  }

  .widget {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.small-screen-warning {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #ebccd1;
  margin: 10px 0;
}
